.gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-item > img {
    width: 100%;
}

.gallery-item > video {
    width: 100%;
}

@media all and (max-width: 1690px) { 
    .gallery {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 1280px) { 
    .gallery {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 980px) { 
    .gallery {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 736px) { 
    .gallery {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 480px) { 
    .gallery {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}